html, body{
    margin: 0;
    height: 100%;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    color:white;
    height: 100px;
    width: 100%;
    font-weight: bold;
    font-size: 50px;;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    height: 50px;
    width: 100%;
    color: white;
    font-size: 25px;
}

.calculator-frame{
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px;
    border-color: black;
    border-style: solid;
    width: 30%;
    margin: 50px 0 50px 0;
    border-radius: 12px;
}
.calculator-frame *{
    border-radius: 12px;
}

.calculator-screen{
    border: 3px;
    border-color: black;
    border-style: solid;
    background-color:wheat;
    height: 100px;
    width: 90%;
    margin: 25px 0 25px 0;
    padding: 25px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 55px;
    box-sizing: border-box;
}

.calculator-body{
    flex: 1 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px;
    border-color: black;
    border-style: solid;
    width: 90%;
    margin: 0 0 25px 0;
    box-sizing: border-box;
    background-color: lightgrey;
    overflow: auto;
}

.inner-body{
    height: 100%;
}

.button{
    border: 2px;
    border-color: black;
    border-style: solid;
    width: 31%;
    height: 15%;
    float: left;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    font-size: 30px;
    background-color: white;

}