html, body{
    margin: 0;
    height: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.heading{
    flex: 1 1 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color:lightblue;
    width: 100vw;
    font-weight: bold;
    font-size: 1.5rem;
    border: 2px;
    border-color: lightblue;
    box-sizing: border-box;
    border-style: solid;
}

.bottom{
    flex: 1 1 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100vw;
    font-weight: bold;
    font-size: 1.5rem;
    color:lightblue;
    border: 2px;
    border-color: lightblue;
    box-sizing: border-box;
    border-style: solid;
}

.calculator-frame{
    flex: 1 1 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px;
    border-color: lightblue;
    border-style: solid;
    width: clamp(20rem, 90vw, 48vh);
    margin: 5vh 0 5vh 0;
    box-sizing: border-box;
    background-color: lightblue;
}

.calculator-frame, .calculator-frame *{
    border-radius: 15px;
}

.calculator-screen{
    background-color:lightblue;
    height: 15vh;
    width: 100%;
    padding: 1.2rem;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 3rem;
    box-sizing: border-box;
    
}

.calculator-body{
    flex: 1 1 0;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    background-color: black;
    padding: 0.8rem;
    gap : 1rem;
}

.numbers-section{
    flex: 1 1 300%;
    display: flex;
    flex-flow: wrap;
    gap: 0.5rem;
    justify-content: space-evenly;
    align-content : space-evenly;
    
}
.operators-section{
    flex: 1 1 100%;
    display: flex;
    flex-flow: wrap;
    gap: 0.5rem;
    justify-content: space-evenly;
    align-content : space-evenly;
}

.button{    
    width: 47%;
    height: 15%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: white;
}

.button.operator{
    background-color: lightblue;
    width: 95%;
}