html, body{
    margin: 0;
    height: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color:white;
    height: 5vh;
    width: 100%;
    font-weight: bold;
    font-size: 1.5rem;
    border: 2px;
    border-color: white;
    box-sizing: border-box;
    border-style: solid;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 5vh;
    width: 100%;
    font-weight: bold;
    font-size: 1.5rem;
    color:white;
    border: 2px;
    border-color: white;
    box-sizing: border-box;
    border-style: solid;
}

.calculator-frame{
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px;
    border-color: lightblue;
    border-style: solid;
    width: 30%;
    margin: 5vh 0 5vh 0;
    box-sizing: border-box;
    background-color: lightblue;
    max-height: 80vh;
}

.calculator-frame, .calculator-frame *{
    border-radius: 15px;
}

.calculator-screen{
    background-color:lightblue;
    height: 15vh;
    width: 100%;
    padding: 1.2rem;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 3rem;
    box-sizing: border-box;
    
}

.calculator-body{
    flex: 1 1 0;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    background-color: black;
    padding: 0.8rem;
}

.numbers-section{
    flex: 1 1 300%;
    overflow: auto;
    
}
.operators-section{
    flex: 1 1 100%;
    overflow: auto;
    
}

.button{    
    width: 45%;
    height: 15%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    font-size: 3rem;
    background-color: white;
    float:left;
}

.button.operator{
    background-color: lightblue;
    width: 95%;
}